.cell {
  height: 30px;
  width: 30px;
  display: inline-block;
  border: 1px solid black;
}

.center {
  background-image: url("./../img/redSprite.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}

.green-sprite {
  background-image: url("./../img/greenSprite.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}
